@import '../../../../../_Base/css/base';

#game {
  overflow: hidden;

  canvas {
    .position(absolute, 50%, 0, 0, 50%);
    width: 100%;
    height: 100%;
    .transform(translate(-50%, -50%) scale(1.05));
  }
}
