@import 'base';

@color_3: #222222;
@color_4: #ddbc5b;
@color_5: #722121;

body {
  overflow: hidden;
}

#app {
  overflow: hidden;
  background-color: @color_3;
  .bg('bg.jpg');
  background-size: cover;
  font-family: '思源黑体' !important;
}

.i_1 {
  position: relative;

  &:before {
    @w: 20*@px;
    @h: 26*@px;

    content: '';
    display: block;
    .position(left, -(@w+10*@px));
    margin: auto 0;
    .bg('icon_water.png', @w, @h, true);
  }
}

.t_1 {
  @w: 1px;
  @style_1: -@w 0 @color_5, 0 @w @color_5, @w 0 @color_5, 0 -@w @color_5;
  @style_2: -@w 0 @color_2, 0 @w @color_2, @w 0 @color_2, 0 -@w @color_2;

  .font(center, 30*@px, @color_4, 22*@px, true);
  .fontShadow(@style_1);

  span {
    .font(center, 30*@px, @color_1, 22*@px, true);
    .fontShadow(@style_2);
  }
}

.box_progress {
  .position(top, 50*@px);
  margin: 0 auto;
  .bg('progress.png', 620*@px, 93*@px, true);

  &:after {
    content: '';
    display: block;
    .position(absolute, 30*@px, -30*@px, auto, auto);
  }

  &.l_1:after {
    .bg('icon_tree_1.png', 84*@px, 61*@px, true);
  }

  &.l_2:after {
    .bg('icon_tree_2.png', 84*@px, 61*@px, true);
  }

  &.l_3:after {
    .bg('icon_tree_3.png', 84*@px, 61*@px, true);
  }

  &.l_4:after {
    .bg('icon_tree_4.png', 84*@px, 61*@px, true);
  }

  &.l_5:after {
    .bg('icon_tree_5.png', 84*@px, 61*@px, true);
  }

  .progress_bar {
    @w: 588*@px;
    @h: 25*@px;
    @br: 30px;

    overflow: hidden;
    .position(absolute, 53*@px, auto, auto, 18*@px);
    width: @w;
    height: @h;
    border-radius: @br;

    &:before {
      content: '';
      display: block;
      .position(absolute);
      width: 0;
      height: 100%;
      .bg('progress_bar.png');
      border-radius: @br;
    }

    .text {
      .position(absolute, -2*@px);
    }
  }

  .progress_add {
    .position(absolute, auto, 10*@px, -40*@px, auto);
  }
}

.box_water_info {
  .position(bottom, 70*@px);
  width: 300*@px;
  height: 270*@px;
  margin: 0 auto;
  text-align: center;

  .text {
    .position(top);
    font-size: 24*@px;
    line-height: 30*@px;

    &:nth-child(2) {
      top: 40*@px;
    }

    &:nth-child(3) {
      .position(bottom);
    }
  }
}

.bg_bottom {
  .position(bottom);
  margin: 0 auto;
  .bg('bg_bottom.png', 100%, 207*@px, true);
}

.button {
  &:hover {
    opacity: 0.7;
  }

  &.button_water {
    .position(bottom, 130*@px);
    margin: 0 auto;
    .bg('button_water.png', 312*@px, 102*@px, true);
  }

  &.button_explain {
    .position(absolute, auto, auto, 30*@px, 50*@px);
    .bg('button_explain.png', 145*@px, 159*@px, true);
  }

  &.button_share {
    .position(absolute, auto, 50*@px, 30*@px, auto);
    .bg('button_share.png', 145*@px, 160*@px, true);
  }
}

.box_tree {
  overflow-x: hidden;
  overflow-y: auto;
  .scroll();
  .position();
  padding-top: 500*@px;

  &.l_1 {
    .tree_t {
      @h: 1098*@px;

      height: -80*@px+@h;

      &:before {
        .position(absolute, 0, 0, auto, 120*@px);
        .bg('tree_1_top.png', 554*@px, @h, true);
      }
    }

    .tree_b {
      @h: 1293*@px;

      height: @h;

      &:before {
        .bg('tree_1_bottom.png', 750*@px, @h, true);
      }
    }
  }

  &.l_2 {
    .tree_t {
      @h: 1188*@px;

      height: -50*@px+@h;

      &:before {
        .position(absolute, 0, 0, auto, 10*@px);
        .bg('tree_2_top.png', 656*@px, @h, true);
      }
    }

    .tree_b {
      @h: 1525*@px;

      height: @h;

      &:before {
        .bg('tree_2_bottom.png', 750*@px, @h, true);
      }
    }

    .tree_1 {
      @h: 1264*@px;

      height: -50*@px+@h;

      &:before {
        .position(absolute, 0, 0, auto, -8*@px);
        .bg('tree_2_1.png', 671*@px, @h, true);
      }
    }

    .tree_2 {
      @h: 1264*@px;

      height: -50*@px+@h;

      &:before {
        .position(absolute, 0, 0, auto, -20*@px);
        .bg('tree_2_2.png', 671*@px, @h, true);
      }
    }

    .tree_3 {
      @h: 1264*@px;

      height: -50*@px+@h;

      &:before {
        .position(absolute, 0, 0, auto, 52*@px);
        .bg('tree_2_3.png', 709*@px, @h, true);
      }
    }
  }

  &.l_3 {
    .tree_t {
      @h: 1219*@px;

      height: @h;

      &:before {
        .position(absolute, 0, 0, auto, -30*@px);
        .bg('tree_3_top.png', 750*@px, @h, true);
      }
    }

    .tree_b {
      @h: 1612*@px;

      height: @h;

      &:before {
        .bg('tree_3_bottom.png', 750*@px, @h, true);
      }
    }

    .tree_1 {
      @h: 1219*@px;

      height: @h;

      &:before {
        .position(absolute, 0, 0, auto, -55*@px);
        .bg('tree_3_1.png', 750*@px, @h, true);
      }
    }

    .tree_2 {
      @h: 1201*@px;

      height: @h;

      &:before {
        .position(absolute, 0, 0, auto, -20*@px);
        .bg('tree_3_2.png', 750*@px, @h, true);
      }
    }

    .tree_3 {
      @h: 1201*@px;

      height: @h;

      &:before {
        .position(absolute, 0, 0, auto, -5*@px);
        .bg('tree_3_3.png', 750*@px, @h, true);
      }
    }
  }

  &.l_4 {
    .tree_t {
      @h: 1219*@px;

      height: -5*@px+@h;

      &:before {
        .bg('tree_4_top.png', 750*@px, @h, true);
      }
    }

    .tree_b {
      @h: 1612*@px;

      height: @h;

      &:before {
        .bg('tree_4_bottom.png', 750*@px, @h, true);
      }
    }

    .tree_1 {
      @h: 1219*@px;

      height: -16*@px+@h;

      &:before {
        .bg('tree_4_1.png', 750*@px, @h, true);
      }
    }

    .tree_2 {
      @h: 1201*@px;

      height: @h;

      &:before {
        .bg('tree_4_2.png', 750*@px, @h, true);
      }
    }

    .tree_3 {
      @h: 1201*@px;

      height: @h;

      &:before {
        .bg('tree_4_3.png', 750*@px, @h, true);
      }
    }
  }

  &.l_5 {
    .tree_t {
      @h: 1219*@px;

      height: -5*@px+@h;

      &:before {
        .bg('tree_5_top.png', 750*@px, @h, true);
      }
    }

    .tree_b {
      @h: 1612*@px;

      height: @h;

      &:before {
        .bg('tree_5_bottom.png', 750*@px, @h, true);
      }
    }

    .tree_1 {
      @h: 1219*@px;

      height: -16*@px+@h;

      &:before {
        .bg('tree_5_1.png', 750*@px, @h, true);
      }
    }

    .tree_2 {
      @h: 1201*@px;

      height: @h;

      &:before {
        .bg('tree_5_2.png', 750*@px, @h, true);
      }
    }

    .tree_3 {
      @h: 1201*@px;

      height: @h;

      &:before {
        .bg('tree_5_3.png', 750*@px, @h, true);
      }
    }
  }

  .tree {
    position: relative;
    width: 100%;

    &:before {
      content: '';
      display: block;
      position: absolute;
      margin: 0 auto;
    }
  }
}

.box_user {
  .position(top);
  width: 0;
  height: 0;

  &:before,
  &:after {
    content: '';
    display: block;
    .position(absolute, 0, auto, auto, 50%);
    .transform(translate(-50%, 0));
  }

  &:before {
    @wh: 88*@px;
    top: -@wh;
    width: @wh;
    height: @wh;
    background-color: white;
    border-radius: 50%;
  }

  &.u {
    &:after {
      @wh: 112*@px;
      top: -@wh + 12*@px;
      .bg('avatar.png', @wh, @wh, true);
    }
  }

  &.u_1 {
    &:after {
      @w: 112*@px;
      @h: 156*@px;
      top: -@h + 12*@px;
      .bg('avatar_1.png', @w, @h, true);
    }
  }

  &.u_2 {
    &:after {
      @w: 112*@px;
      @h: 138*@px;
      top: -@h + 12*@px;
      .bg('avatar_2.png', @w, @h, true);
    }
  }

  &.u_3 {
    &:after {
      @w: 112*@px;
      @h: 139*@px;
      top: -@h + 12*@px;
      .bg('avatar_3.png', @w, @h, true);
    }
  }

  .text {
    .position(absolute, 0, auto, auto, 50%);
    .transform(translate(-50%, 0));
    width: 250*@px;
    height: 40*@px;
    line-height: 40*@px;

    &:nth-child(1) {
      top: 10*@px;
    }

    &:nth-child(2) {
      top: 40*@px;
      padding-left: 30*@px;
    }
  }
}

.popup_explain {
  .box_popup {
    background: fade(@color_1, 0);

    .btn_close {
      display: none;
    }

    .box_content {
      overflow: initial;
      .bg('popup_bg.png', 723*@px, 950*@px, true);

      &:after {
        content: '点击空白区域返回';
        display: block;
        .position(bottom, -50*@px);
        margin: 0 auto;
        .font(center, 30*@px, @color_1, 22*@px, true);
      }

      .popup_content {
        overflow-y: auto;
        .scroll();
        .position(top, 160*@px);
        height: 720*@px;
        margin: 0 auto;
        background-repeat: repeat-y;

        .image {
          position: relative;
          margin-left: 35*@px;
          .bg('popup_content.png', 603*@px, 948*@px, true);
        }
      }
    }
  }
}

