//******Popup******//
@import 'base';

@popup_z: 50;
@popup_opacity: 0.75;
@popup_time: 0.6s;

//******Sprite******//
@popup_w: 569*@px;
@popup_h: 320*@px;
.spritePopup(@sprite:false) when (@sprite=false) {
  .bg('popup_sprite.png', @popup_w, @popup_h);
}

.spritePopup(@sprite:false) when (@sprite=true) {
  .bg('popup_sprite.png', @popup_w*@scale, @popup_h*@scale);
}

.popup {
  display: none;
  .position(fixed);
  z-index: @popup_z;
  opacity: 0;
  height: 100%;
  background: fade(@color_2, 70);
  .transition(all @popup_time);
  cursor: pointer;
  
  &.show {
    display: block;
  }
  
  &.active {
    opacity: 1;
    
    .box_popup {
      .center();
    }
  }
  
  .box_popup {
    .position(absolute, 50%, auto, auto, 50%);
    width: 720*@px;
    .borderBox();
    //background: fade(@color_2, 70);
    .transform(translate(-50%, calc(-50% - 200 * @px)));
    .transition(transform @popup_time);
    cursor: auto;
    
    .close {
      .position(bottom, -90*@px);
      z-index: 1;
      width: 50*@px;
      height: 50*@px;
      margin: 0 auto;
      .borderBox();
    }
    
    .box_content {
      overflow: hidden;
      position: relative;
      margin: auto;
      .borderBox();
    }
  }
}

#quit_popup,
#recruitment_popup {
  .box_popup {
    .close {
      .position(absolute, 20*@px, 20*@px, auto, auto);
      width: 42*@px;
      height: 42*@px;
      .spritePopup();
      background-position: -386*@px -35*@px;
      
      i {
        display: none;
      }
    }
  }
}

#quit_popup {
  .box_popup {
    width: 647*@px;
    .borderBox();
    
    &:before,
    &:after {
      content: '';
      display: block;
      position: relative;
      height: 23*@px;
      .bg('popup_bg_1.png', 100%, 46*@px);
    }
    
    &:before {
      background-position: 0 0;
    }
    
    &:after {
      margin-top: -1px;
      background-position: 0 -23*@px;
    }
    
    .box_content {
      margin: -1px 0 0;
      .bg('popup_bg_2.jpg', 100%, auto);
      background-repeat: repeat-y;
      text-align: center;
      
      .content {
        position: relative;
        width: 100%;
        height: 100*@px;
        margin: 85*@px auto 50*@px;
        
        .box_scale {
          padding: 0 50*@px*@scale;
          .borderBox();
          .font(left, 50*@px*@scale, @color_2, 44*@px*@scale, true);
          
          span {
            margin: 0 10*@px*@scale;
          }
        }
      }
      
      a {
        display: inline-block;
        width: 240*@px;
        margin: 0 20*@px;
        
        &:nth-child(2) {
          .transform(scale(0.92));
        }
      }
    }
  }
}

#recruitment_popup {
  .box_popup {
    width: 647*@px;
    
    .close {
      display: none;
    }
    
    .box_content {
      text-align: center;
      
      .content {
        display: none;
        position: relative;
        overflow: hidden;
        
        &:nth-child(1) {
          height: 700*@px;
          
          .title {
            width: 254*@px*@scale;
            height: 50*@px*@scale;
            background-position: 0*@px -36*@px*@scale !important;
          }
        }
        
        &:nth-child(2) {
          height: 700*@px;
          
          .title {
            width: 254*@px*@scale;
            height: 50*@px*@scale;
            background-position: 0*@px -36*@px*@scale !important;
          }
        }
        
        &:nth-child(3) {
          height: 910*@px;
          
          .title {
            width: 254*@px*@scale;
            height: 50*@px*@scale;
            background-position: 0*@px -160*@px*@scale !important;
          }
        }
        
        &:nth-child(4) {
          height: 880*@px;
          
          .title {
            width: 254*@px*@scale;
            height: 50*@px*@scale;
            background-position: 0*@px -160*@px*@scale !important;
          }
          
          .info {
            text-indent: 0 !important;
          }
          
          .l_2 {
            margin: 10*@px*@scale 0 !important;
          }
        }
  
        &:nth-child(5) {
          height: 855*@px;
    
          .title {
            width: 254*@px*@scale;
            height: 50*@px*@scale;
            background-position: 0*@px -220*@px*@scale !important;
          }
    
          .l_2 {
            margin: 10*@px*@scale 0 !important;
          }
        }
        
        &:nth-child(6) {
          height: 380*@px;
          
          .title {
            width: 323*@px*@scale;
            height: 50*@px*@scale;
            background-position: 0*@px -96*@px*@scale !important;
          }
        }
        
        &:nth-child(7) {
          height: 785*@px;
          
          .title {
            width: 357*@px*@scale;
            height: 39*@px*@scale;
            background-position: 0*@px -281*@px*@scale !important;
          }
          
          .info {
            &:nth-child(4) {
              margin-top: 10*@px*@scale;
            }
          }
        }
        
        &.active {
          display: block;
        }
        
        .box_scale {
          &:before,
          &:after {
            content: '';
            display: block;
            position: relative;
            height: 23*@px*@scale;
            .bg('popup_bg_1.png', 100%, 46*@px*@scale);
          }
          
          &:before {
            background-position: 0 0;
          }
          
          &:after {
            margin-top: -1px*@scale;
            background-position: 0 -23*@px*@scale;
          }
          
          .box {
            position: relative;
            padding: 30*@px*@scale 50*@px*@scale;
            margin: -1px*@scale 0 0;
            .borderBox();
            .bg('popup_bg_2.jpg', 100%, auto);
            background-repeat: repeat-y;
            .font(justify, 40*@px*@scale, @color_2, 35*@px*@scale);
            
            .title {
              margin: 0 auto;
              .spritePopup(true);
            }
            
            .line {
              width: 569*@px*@scale;
              height: 7*@px*@scale;
              margin: 30*@px*@scale auto;
              .spritePopup(true);
              
              &.l_1 {
                background-position: 0 0;
              }
              
              &.l_2 {
                background-position: 0 -17*@px*@scale;
              }
            }
            
            .subtitle {
              margin-bottom: 10*@px*@scale;
              font-size: 37*@px*@scale;
              font-weight: bold;
            }
            
            .info {
              text-indent: 2em;
            }
            
            .focus {
              background: #000000;
              color: #fef54a;
              font-style: normal;
              text-align: center;
            }
          }
        }
      }
      
      a {
        display: none;
        width: 240*@px;
        margin: 30*@px auto 0;
        
        &.active {
          display: block;
        }
        
        &#btn_rec_review,
        &#btn_rec_restart {
          width: 280*@px;
        }
      }
    }
  }
}
